container_commands:
  update_config:
    command: |
      if [ -f "/etc/nginx/nginx.conf.backup" ]; then
          echo "nginx config is already updated"
      else
          mv /etc/nginx/nginx.conf /etc/nginx/nginx.conf.backup
          sed  '/access_log/i client_max_body_size 100M;' /etc/nginx/nginx.conf.backup > /etc/nginx/nginx.conf
          service nginx reload
          echo "nginx config update finished"
      fi
